name: Terraform Deployment

on:
  workflow_dispatch:

jobs:
  terraform:
    name: Apply Terraform
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    defaults:
      run:
        working-directory: .  # Centraliza o diret처rio de trabalho

    steps:
      - name: Checkout do c처digo
        uses: actions/checkout@v4

      - name: Configurar credenciais AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Inicializar Terraform
        run: terraform init

      - name: Validar Terraform
        run: terraform validate

      - name: Planejar Infraestrutura
        run: terraform plan
        env:
          AWS_PROFILE: ""  # Garantindo que o Terraform n찾o use o perfil default

      - name: Aplicar Infraestrutura
        run: terraform apply -auto-approve
        env:
          AWS_PROFILE: ""  # Garantindo que o Terraform n찾o use o perfil default
